<!DOCTYPE html>
<html>
<head>
    <title>GeoJSON Map</title>
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        .leaflet-container {
            height: 600px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>GeoJSON Map Viewer</h1>
    <a href="{% url 'upload_view' %}">Upload another file</a>
    
    {% leaflet_map "main" callback="map_init" %}
    
    <script>
        function map_init(map, options) {
            {% if geojson_url %}
                fetch("{{ geojson_url }}")
                    .then(response => response.json())
                    .then(data => {
                        L.geoJSON(data).addTo(map);
                        map.fitBounds(L.geoJSON(data).getBounds());
                    });
            {% endif %}
        }
    </script>
</body>
</html>